/* Navbar.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.navbar {
  padding: 10px 20px;
  border-bottom: 2px transparent #212122;
  position: relative; /* Ensure the navbar is positioned */
  z-index: 1000; /* Set a high z-index to keep the navbar above other content */
}

.navbar-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  align-self: stretch;
  margin: 10px;
  padding: 0;
  font-family: 'roboto', sans-serif;
  gap: 30px;
}

.navbar-menu li {
  margin: 0 10px;
}

.navbar-menu a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  transition: color 0.3s;
}

.navbar-menu a:hover {
  color: #007BFF;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0; /* Align the dropdown to the left edge of the parent */
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: max-content;
  z-index: 1001; /* Set a higher z-index to ensure the dropdown appears above other content */
}

.dropdown-content a {
  display: block; /* Ensure each link is on a new line */
  padding: 5px 0; /* Add padding for spacing between links */
}

.dropdown:hover .dropdown-content {
  display: block; /* Use 'block' instead of 'flow-root' */
}

/* Responsive styles */
@media (max-width: 1024px) {
  .navbar-menu {
    gap: 20px;
  }

  .navbar-menu a {
    font-size: 14px;
  }

  .dropdown-content {
    left: 0;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .navbar-menu {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .navbar-menu li {
    margin: 5px 0;
  }

  .dropdown-content {
    left: 0;
    width: 100%;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .navbar-menu a {
    font-size: 12px;
  }

  .dropdown-content {
    padding: 5px;
  }
}
